<%- include("partials/header") -%>

<h1>all teacher name</h1><br><br><br>

<div class="container">
<div class="row">
    <%teacher.forEach(function(teacher){%>



    <div class=" intcard   col-lg-4">
        
        
        <div class="card border-dark mb-3" >
            <img src="<%= teacher.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= teacher.fullname %></h5>
              
            </div>
            <ul class="list-group text-dark list-group-flush">
              <li class="list-group-item">Short name : <%= teacher.name %></li>
              <li class="list-group-item">Contact no : <%= teacher.phone%></li>
              <li class="list-group-item">subject : <%= teacher.subject%></li>
            </ul>
            <div class="card-body text-danger " >
              <form action="/deleteteach" method="post">
                <input type="checkbox" name="checkbox" value="<%=teacher._id%>" onchange="this.form.submit()"> Warning click the click to remove data from database
              </form>
            </div>
          </div>
    </div>

    <%});%>
</div>
</div>

<br>

<a href="/teacherInput"><h1> input new teacher </h1></a>

<%- include("partials/footer")-%>